pengajuan cuti (1).json
{
  "name": "pengajuan cuti",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pengajuan Cuti Karyawan",
        "formDescription": "Form untuk pengajuan cuti karyawan",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Karyawan ",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Jenis cuti",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Cuti Tahunan "
                  },
                  {
                    "option": "Cuti Sakit"
                  },
                  {
                    "option": "cuti tanpa bayaran"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Mulai",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Selesai",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Alasan",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -96,
        0
      ],
      "id": "cef9f838-d6d7-4ade-b19b-4208bd1be83f",
      "name": "On form submission",
      "webhookId": "0cfab8c2-49f5-4441-bd8c-0a391136f753"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I2DaeNzCUzfKqvPKm_zvqlkryMyaJGYGEPkKh-pwAUY",
          "mode": "list",
          "cachedResultName": "Salinan dari Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2DaeNzCUzfKqvPKm_zvqlkryMyaJGYGEPkKh-pwAUY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2DaeNzCUzfKqvPKm_zvqlkryMyaJGYGEPkKh-pwAUY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        0
      ],
      "id": "2491ed07-87e0-4c91-9a22-22771b5e031a",
      "name": "DB Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WozjC732u3hVBGzJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const employeeData = items[0].json;\nconst formData = $('On form submission').first().json;\n\nconst start = DateTime.fromISO(formData[\"Tanggal Mulai\"]);\nconst end = DateTime.fromISO(formData[\"Tanggal Selesai\"]);\n\nconst durationInDays = end.diff(start, 'days').days + 1;\n\nconst currentBalance = parseInt(employeeData[\"Saldo_Cuti\"]);\nconst hasEnoughBalance = currentBalance >= durationInDays;\n\nconst uniqueId = 'REQ-' + Date.now();\n\nreturn [\n  {\n    json: {\n      ...employeeData,\n      ...formData,\n      durationRequested: durationInDays,\n      isApprovedSystem: hasEnoughBalance,\n      message: hasEnoughBalance ? \"Saldo Cukup\" : \"Saldo Tidak Cukup\",\n      requestId: uniqueId,\n      status: hasEnoughBalance ? \"Pending Approval\" : \"Rejected - Insufficient Balance\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "56261147-2b55-4e7f-baec-7be7882e2322",
      "name": "Validasi Cuti"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1I2DaeNzCUzfKqvPKm_zvqlkryMyaJGYGEPkKh-pwAUY",
          "mode": "list",
          "cachedResultName": "Salinan dari Cuti Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2DaeNzCUzfKqvPKm_zvqlkryMyaJGYGEPkKh-pwAUY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 637903758,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I2DaeNzCUzfKqvPKm_zvqlkryMyaJGYGEPkKh-pwAUY/edit#gid=637903758"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $json.requestId }}",
            "Timestamp": "={{ $json.submittedAt }}",
            "Email_Karyawan": "={{ $json['Email Karyawan '] }}",
            "Jenis_Cuti": "={{ $json['Jenis cuti'] }}",
            "Tanggal_Mulai": "={{ $json['Tanggal Mulai'] }}",
            "Tanggal_Selesai": "={{ $json['Tanggal Selesai'] }}",
            "Durasi": "={{ $json.durationRequested }}",
            "Alasan": "={{ $json.Alasan }}",
            "Status": "Pending"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        0
      ],
      "id": "7b36a443-3e65-404a-acbf-3f98e7ade0d8",
      "name": "Update Sheet Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WozjC732u3hVBGzJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "573f1f16-0c1f-43b5-b703-fb6c57494500",
              "leftValue": "={{ $('Validasi Cuti').item.json.isApprovedSystem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        0
      ],
      "id": "9e0f897f-2cca-4a60-aad2-2e90eadd0a92",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email Karyawan '] }}",
        "subject": "Approval Pengajuan Cuti Baru",
        "message": "=```html\n<div style=\"font-family: Arial, sans-serif; background-color: #f4f7fb; padding: 30px;\">\n\n  <div style=\"max-width: 650px; margin: auto; background: white; border-radius: 14px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.1);\">\n\n    <!-- HEADER -->\n    <div style=\"background: linear-gradient(135deg, #4f46e5, #7c3aed); padding: 25px; text-align: center;\">\n      <h1 style=\"color: white; margin: 0; font-size: 28px;\">\n        📋 Pengajuan Cuti Baru\n      </h1>\n\n      <p style=\"color: #e0e7ff; margin-top: 8px;\">\n        Sistem Approval HR Otomatis\n      </p>\n    </div>\n\n    <!-- CONTENT -->\n    <div style=\"padding: 30px; color: #333;\">\n\n      <p style=\"font-size: 16px;\">\n        Halo Manager,\n      </p>\n\n      <p style=\"font-size: 15px; line-height: 1.8;\">\n        Ada pengajuan cuti baru yang membutuhkan persetujuan Anda.\n      </p>\n\n      <!-- CARD DETAIL -->\n      <div style=\"background: #f9fafb; border-left: 5px solid #4f46e5; padding: 20px; border-radius: 10px; margin: 25px 0;\">\n\n        <table style=\"width: 100%; border-collapse: collapse;\">\n\n          <tr>\n            <td style=\"padding: 10px 0; font-weight: bold; width: 35%;\">👤 Nama</td>\n            <td style=\"padding: 10px 0;\">\n              {{ $('Validasi Cuti').item.json.Nama_Lengkap }}\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 10px 0; font-weight: bold;\">📧 Email</td>\n            <td style=\"padding: 10px 0;\">\n              {{ $('Validasi Cuti').item.json['Email Karyawan '] }}\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 10px 0; font-weight: bold;\">📅 Tanggal</td>\n            <td style=\"padding: 10px 0;\">\n              {{ $('Validasi Cuti').item.json['Tanggal Mulai'] }}\n              s/d\n              {{ $('Validasi Cuti').item.json['Tanggal Selesai'] }}\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 10px 0; font-weight: bold;\">⏳ Durasi</td>\n            <td style=\"padding: 10px 0;\">\n              {{ $('Validasi Cuti').item.json.durationRequested }} Hari\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 10px 0; font-weight: bold;\">📝 Alasan</td>\n            <td style=\"padding: 10px 0;\">\n              {{ $('Validasi Cuti').item.json.Alasan }}\n            </td>\n          </tr>\n\n        </table>\n\n      </div>\n\n      <!-- BUTTON -->\n      <div style=\"text-align: center; margin-top: 35px;\">\n\n        <a href=\"https://n8n-rseuslqpsne5.jkt3.sumopod.my.id/webhook/6f6c3844-000f-4d70-9586-a754a8dd31f4?status=approved&email={{ $('Validasi Cuti').item.json['Email Karyawan '] }}&days={{ $('Validasi Cuti').item.json.durationRequested }}&id={{ $('Validasi Cuti').item.json.requestId }}\"\n          style=\"\n            background: linear-gradient(135deg,#22c55e,#16a34a);\n            color: white;\n            padding: 14px 28px;\n            border-radius: 10px;\n            text-decoration: none;\n            font-weight: bold;\n            margin-right: 15px;\n            display: inline-block;\n            font-size: 15px;\n            box-shadow: 0 4px 10px rgba(34,197,94,0.3);\n          \">\n          ✅ SETUJUI\n        </a>\n\n        <a href=\"https://n8n-rseuslqpsne5.jkt3.sumopod.my.id/webhook/6f6c3844-000f-4d70-9586-a754a8dd31f4?status=rejected&email={{ $('Validasi Cuti').item.json['Email Karyawan '] }}&days={{ $('Validasi Cuti').item.json.durationRequested }}&id={{ $('Validasi Cuti').item.json.requestId }}\"\n          style=\"\n            background: linear-gradient(135deg,#ef4444,#dc2626);\n            color: white;\n            padding: 14px 28px;\n            border-radius: 10px;\n            text-decoration: none;\n            font-weight: bold;\n            display: inline-block;\n            font-size: 15px;\n            box-shadow: 0 4px 10px rgba(239,68,68,0.3);\n          \">\n          ❌ TOLAK\n        </a>\n\n      </div>\n\n      <!-- INFO -->\n      <div style=\"\n        margin-top: 35px;\n        background: #eef2ff;\n        padding: 18px;\n        border-radius: 10px;\n        font-size: 13px;\n        color: #555;\n        line-height: 1.7;\n      \">\n        ⚠️ Link approval menggunakan environment TEST/PRODUCTION n8n.<br>\n        Pastikan workflow <strong>Approval Handler</strong> sedang aktif saat tombol diklik.\n      </div>\n\n    </div>\n\n    <!-- FOOTER -->\n    <div style=\"\n      background: #111827;\n      color: #9ca3af;\n      text-align: center;\n      padding: 18px;\n      font-size: 13px;\n    \">\n      Automated HR Leave Approval System • n8n Workflow\n    </div>\n\n  </div>\n\n</div>\n```\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        -128
      ],
      "id": "99cf126b-e789-474d-8060-28ea7807c9de",
      "name": "Di terima",
      "webhookId": "34400aea-e175-4639-aee0-276a8d53f9ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYP1GzNAyLxOfcBv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email Karyawan '] }}",
        "subject": "Pengajuan Cuti Ditolak Otomatis",
        "message": "=<div style=\"font-family: Arial, sans-serif; background-color: #f4f7fb; padding: 30px;\">    <div style=\"     max-width: 650px;     margin: auto;     background: white;     border-radius: 14px;     overflow: hidden;     box-shadow: 0 4px 15px rgba(0,0,0,0.1);   \">      <!-- HEADER -->     <div style=\"       background: linear-gradient(135deg,#ef4444,#dc2626);       padding: 30px;       text-align: center;     \">       <h1 style=\"color: white; margin: 0; font-size: 28px;\">         ❌ Pengajuan Cuti Ditolak       </h1>        <p style=\"color: #fee2e2; margin-top: 10px;\">         Sistem Validasi HR Otomatis       </p>     </div>      <!-- CONTENT -->     <div style=\"padding: 35px; color: #333;\">        <p style=\"font-size: 16px;\">         Halo          <strong>           {{ $('Validasi Cuti').item.json.Nama_Lengkap }}         </strong>,       </p>        <p style=\"         font-size: 15px;         line-height: 1.8;         margin-top: 20px;       \">         Mohon maaf, pengajuan cuti Anda untuk tanggal:       </p>        <!-- DETAIL BOX -->       <div style=\"         background: #fef2f2;         border-left: 5px solid #ef4444;         padding: 22px;         border-radius: 10px;         margin-top: 25px;       \">          <table style=\"width: 100%; border-collapse: collapse;\">            <tr>             <td style=\"padding: 10px 0; font-weight: bold; width: 40%;\">               📅 Tanggal Cuti             </td>              <td style=\"padding: 10px 0;\">               {{ $('Validasi Cuti').item.json['Tanggal Mulai'] }}               s/d               {{ $('Validasi Cuti').item.json['Tanggal Selesai'] }}             </td>           </tr>            <tr>             <td style=\"padding: 10px 0; font-weight: bold;\">               ⏳ Durasi Pengajuan             </td>              <td style=\"padding: 10px 0;\">               {{ $('Validasi Cuti').item.json.durationRequested }} Hari             </td>           </tr>            <tr>             <td style=\"padding: 10px 0; font-weight: bold;\">               📊 Sisa Saldo             </td>              <td style=\"padding: 10px 0;\">               {{ $('Validasi Cuti').item.json.Saldo_Cuti }} Hari             </td>           </tr>          </table>        </div>        <!-- ALERT -->       <div style=\"         margin-top: 28px;         background: #fff7ed;         border: 1px solid #fdba74;         color: #9a3412;         padding: 18px;         border-radius: 10px;         line-height: 1.7;       \">         ⚠️ Pengajuan cuti ditolak secara otomatis karena saldo cuti Anda tidak mencukupi untuk jumlah hari yang diajukan.       </div>        <!-- INFO -->       <div style=\"         margin-top: 30px;         font-size: 15px;         line-height: 1.8;       \">         Silakan hubungi HR atau atasan Anda apabila terdapat kesalahan data saldo cuti.       </div>        <!-- FOOTER MESSAGE -->       <div style=\"         margin-top: 35px;         background: #f9fafb;         padding: 18px;         border-radius: 10px;         color: #555;         font-size: 14px;       \">         Terima kasih,<br>         <strong>HR Bot System</strong>       </div>      </div>      <!-- FOOTER -->     <div style=\"       background: #111827;       color: #9ca3af;       text-align: center;       padding: 18px;       font-size: 13px;     \">       Automated Leave Management System • n8n Workflow     </div>    </div>  </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        128
      ],
      "id": "920a9dea-57f6-448b-9d1e-b85ab945cecc",
      "name": "Di tolok",
      "webhookId": "fa48401c-0b90-4ded-8fec-c35623f6ebf4",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYP1GzNAyLxOfcBv",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "DB Karyawan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Karyawan": {
      "main": [
        [
          {
            "node": "Validasi Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Cuti": {
      "main": [
        [
          {
            "node": "Update Sheet Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Log": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Di terima",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Di tolok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ff0d0e7b-f7d3-45dd-a39a-eff57d6b19a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d11e6e53822f4731590018760ac96737b4769128550dea194e4168a0c7860d0"
  },
  "id": "uiy7hf15seLjy5iH",
  "tags": []
}