tugas 5 Pengembangan Agen AI tanpa Koding.json
{
  "name": "tugas 5 Pengembangan Agen AI tanpa Koding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "https://docs.google.com/document/d/1Ib6lt6NnS4QypQfhjMohg3lRvs3iL8OxGLW2Fn8OpEU/edit?tab=t.0#heading=h.jguk1f2cfyq",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7dcb80e4-b47c-4235-a017-6684293e0678",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CjzM73dYtlUkrot2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b4d2e23-f502-483e-8ddc-a99a1244c52e",
              "name": "fileId",
              "value": "={{$json[\"id\"]}}",
              "type": "string"
            },
            {
              "id": "d9499565-aaf2-4fdd-8abf-fae04cf130fe",
              "name": "fileName",
              "value": "={{$json[\"name\"]}}",
              "type": "string"
            },
            {
              "id": "5e6fd1d7-14d3-4ee8-9754-b01a235229eb",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "58259529-5d3f-4fc6-aa39-50d73fcc3cf4",
              "name": "mimeType",
              "value": "={{$json[\"mimeType\"]}}",
              "type": "string"
            },
            {
              "id": "69bc103a-fd5a-49d9-a6f6-43ce73ce30a6",
              "name": "metadata",
              "value": "={   \"source\": \"google_drive\",   \"fileName\": \"{{$json[\"name\"]}}\" }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "ab333f22-f600-4844-9d8d-a39ac43c3f1b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/document/d/1Ib6lt6NnS4QypQfhjMohg3lRvs3iL8OxGLW2Fn8OpEU/edit?tab=t.0#heading=h.jguk1f2cfyq",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "f3d667ba-81d4-4dce-b625-9a0d477e2d27",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CjzM73dYtlUkrot2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "e178c705-94d8-4510-b98f-601a695dc06a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_gdocs",
          "mode": "list",
          "cachedResultName": "documents_gdocs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "3ffb2450-c540-4a7b-888e-9159d3ff2afa",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "1BD4nsOIvFPjEO4C",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        224
      ],
      "id": "44acc161-4e85-48a5-bcea-eeb4aba4609d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "t5zi6YverPgcbBNq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_ld",
                "value": "={\"source\":\"gdocs\"}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1088,
        176
      ],
      "id": "f3a8a3e0-74a1-44db-9eee-05c3717f64cc",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 90,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        896,
        240
      ],
      "id": "8260a007-2a91-4281-a565-2141e06286b8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is zidane. How can I assist you today?",
        "availableInChat": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -96,
        208
      ],
      "id": "7f227e42-99d8-4b05-a083-490e902ec008",
      "name": "When chat message received",
      "webhookId": "42af9eb1-6865-4308-8524-59529b148348"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Anda adalah asisten AI yang membantu menjawab pertanyaan tentang penulisan ilmiah skripsi.\n\nGunakan informasi dari Supabase Vector Store untuk menjawab.\n\nJika jawaban tidak ditemukan, jawab dengan sopan bahwa informasi tidak tersedia."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        224
      ],
      "id": "c949b3b9-1b69-46b3-82ef-2b4f20f364ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        96,
        480
      ],
      "id": "3608ba5b-b19c-442f-98ab-4df017515cab",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lMDadw4gQ0Ejvr7m",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool ini untuk menjawab pertanyaan tentang\npenulisan ilmiah mahasiswa STT-NF.",
        "tableName": {
          "__rl": true,
          "value": "documents_gdocs",
          "mode": "list",
          "cachedResultName": "documents_gdocs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        464,
        368
      ],
      "id": "0f81e191-38d9-4e31-8cb6-bf386cd91c9d",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "1BD4nsOIvFPjEO4C",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        480
      ],
      "id": "8d52dab7-754b-4ab0-bce1-afe3e4016217",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "t5zi6YverPgcbBNq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        304,
        464
      ],
      "id": "6cb2557c-0636-4032-a4c0-ea63e69377f4",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "317Bfe2xWQ2yTObM",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9846e64a-cbfa-41c0-a001-056f28d87806",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d11e6e53822f4731590018760ac96737b4769128550dea194e4168a0c7860d0"
  },
  "id": "SkxCdo2v8q0eK8yD",
  "tags": []
}