tugas 2 Pengembangan Agen AI tanpa Koding.json
{
  "name": "tugas 2 Pengembangan Agen AI tanpa Koding",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "availableInChat": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "604432ba-7aa5-4e49-988f-3ce7080719ea",
      "name": "When chat message received",
      "webhookId": "466ea893-010e-4e5b-b56c-bb099848fff9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Anda adalah Asisten Produk Digital.\n\nTugas Anda:\n- Menjawab pertanyaan tentang produk dan harga\n- Menggunakan data dari Google Sheets melalui tool yang tersedia\n\nAturan:\n- WAJIB menggunakan tool Google Sheets untuk mencari data\n- Jangan menjawab tanpa data\n- Jika user bertanya harga, ambil dari kolom harga\n- Jika produk tidak ditemukan, jawab:\n  \"Maaf, produk tidak ditemukan dalam database\"\n\nStruktur data:\n- nama_produk\n- harga\n- deskripsi"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "7429aa61-d7e8-46de-859d-fda05c0e878a",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 200
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        240
      ],
      "id": "137b2389-83e4-494c-a035-075d816c808e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZHqEhqhbYKvYoNytiO6OFvMCPSmnH8BbY1TjYOeVrAw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        496,
        192
      ],
      "id": "414794ce-9632-4385-865a-97bd17506efb",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WozjC732u3hVBGzJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "69d2a5d1-3864-4349-951c-6c895e9298bc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "t5zi6YverPgcbBNq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "46fb7608-613b-47a2-89a4-2ccee514f89e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d11e6e53822f4731590018760ac96737b4769128550dea194e4168a0c7860d0"
  },
  "id": "8gVafCPR807tc7Nt",
  "tags": []
}