tugas 6 Implementasi AI untuk Pemasaran.json
{
  "name": "tugas 6 Implementasi AI untuk Pemasaran",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "31ae8495-0858-4a0a-bf0e-5a55d152b557",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk",
          "mode": "list",
          "cachedResultName": "Salinan dari Best Time to Post Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Posting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "529cab66-921d-40f5-9daf-f7fe152f6b64",
      "name": "Baca Data Posting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WozjC732u3hVBGzJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua data dari Google Sheets\nconst items = $input.all();\n\nconsole.log('Total items:', items.length);\n\n// Validasi data\nif (!items || items.length === 0) {\n  throw new Error('Tidak ada data yang dibaca dari Google Sheets!');\n}\n\n// Log sample data untuk debugging\nconsole.log('Sample first item:', JSON.stringify(items[0].json));\n\n// Object untuk menyimpan data per jam\nconst hourlyData = {};\n\n// Counter untuk tracking\nlet processedCount = 0;\nlet skippedCount = 0;\n\n// Proses setiap row data\nitems.forEach((item, index) => {\n  try {\n    const rawData = item.json;\n    \n    const hour = rawData['Jam Posting'] || rawData['jam posting'] || rawData['Jam'] || rawData['jam'];\n    const likes = parseInt(rawData['Likes'] || rawData['likes'] || 0);\n    const comments = parseInt(rawData['Comments'] || rawData['comments'] || 0);\n    const shares = parseInt(rawData['Shares'] || rawData['shares'] || 0);\n    const platform = rawData['Platform'] || rawData['platform'] || 'Unknown';\n    \n    if (hour === undefined || hour === null || hour === '') {\n      console.log(`Skipping row ${index + 1}: hour is undefined`);\n      skippedCount++;\n      return;\n    }\n    \n    const hourNum = typeof hour === 'number' ? hour : parseInt(hour);\n    \n    if (isNaN(hourNum) || hourNum < 0 || hourNum > 23) {\n      console.log(`Skipping row ${index + 1}: invalid hour ${hour}`);\n      skippedCount++;\n      return;\n    }\n    \n    // Engagement Score\n    const engagement = likes + (comments * 2) + (shares * 3);\n    \n    if (!hourlyData[hourNum]) {\n      hourlyData[hourNum] = {\n        hour: hourNum,\n        totalEngagement: 0,\n        count: 0,\n        totalLikes: 0,\n        totalComments: 0,\n        totalShares: 0,\n        platforms: {}\n      };\n    }\n    \n    hourlyData[hourNum].totalEngagement += engagement;\n    hourlyData[hourNum].count += 1;\n    hourlyData[hourNum].totalLikes += likes;\n    hourlyData[hourNum].totalComments += comments;\n    hourlyData[hourNum].totalShares += shares;\n    \n    if (!hourlyData[hourNum].platforms[platform]) {\n      hourlyData[hourNum].platforms[platform] = 0;\n    }\n    hourlyData[hourNum].platforms[platform] += 1;\n    \n    processedCount++;\n    \n  } catch (error) {\n    console.error(`Error processing row ${index + 1}:`, error.message);\n    skippedCount++;\n  }\n});\n\nconsole.log(`Processed: ${processedCount}, Skipped: ${skippedCount}`);\n\nif (Object.keys(hourlyData).length === 0) {\n  throw new Error(`Tidak ada data valid yang bisa diproses!`);\n}\n\n// Hitung rata-rata\nconst results = Object.values(hourlyData).map(data => {\n  const mostUsedPlatform = Object.keys(data.platforms).reduce((a, b) => \n    data.platforms[a] > data.platforms[b] ? a : b\n  );\n  \n  return {\n    jam: `${String(data.hour).padStart(2, '0')}:00`,\n    avgEngagement: Math.round(data.totalEngagement / data.count),\n    jumlahPost: data.count,\n    avgLikes: Math.round(data.totalLikes / data.count),\n    avgComments: Math.round(data.totalComments / data.count),\n    avgShares: Math.round(data.totalShares / data.count),\n    platformTerbanyak: mostUsedPlatform,\n    engagementScore: Math.round((data.totalEngagement / data.count) * 100) / 100\n  };\n});\n\n// Sort\nresults.sort((a, b) => b.avgEngagement - a.avgEngagement);\n\n// Top 10\nconst top10 = results.slice(0, 10);\n\n// Ranking\nconst rankedResults = top10.map((item, index) => ({\n  ranking: index + 1,\n  ...item,\n  rekomendasi: index < 3 ? '⭐ SANGAT DIREKOMENDASIKAN' : index < 5 ? '✅ DIREKOMENDASIKAN' : '👍 CUKUP BAIK'\n}));\n\n// Timestamp\nconst analysisDate = new Date().toLocaleString('id-ID', {\n  timeZone: 'Asia/Jakarta',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst finalResults = rankedResults.map(item => ({\n  ...item,\n  tanggalAnalisis: analysisDate,\n  totalDataDianalisis: processedCount\n}));\n\nreturn finalResults.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "cea89329-a596-4d67-804d-5306b41592d2",
      "name": "Analisis Waktu Terbaik"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk",
          "mode": "list",
          "cachedResultName": "Salinan dari Best Time to Post Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 723653925,
          "mode": "list",
          "cachedResultName": "Hasil Analisis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk/edit#gid=723653925"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "239cc360-79d9-4401-81a7-4501a29aee2d",
      "name": "Hapus Hasil Lama",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WozjC732u3hVBGzJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk",
          "mode": "list",
          "cachedResultName": "Salinan dari Best Time to Post Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 723653925,
          "mode": "list",
          "cachedResultName": "Hasil Analisis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fPJ2rXhz0qYg3pRD-mt3bTvna2-G1etzQwWcPtr9hmk/edit#gid=723653925"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "jam"
          ],
          "schema": [
            {
              "id": "ranking",
              "displayName": "ranking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jam",
              "displayName": "jam",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgEngagement",
              "displayName": "avgEngagement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jumlahPost",
              "displayName": "jumlahPost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgLikes",
              "displayName": "avgLikes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgComments",
              "displayName": "avgComments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "avgShares",
              "displayName": "avgShares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "platformTerbanyak",
              "displayName": "platformTerbanyak",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "engagementScore",
              "displayName": "engagementScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rekomendasi",
              "displayName": "rekomendasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tanggalAnalisis",
              "displayName": "tanggalAnalisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalDataDianalisis",
              "displayName": "totalDataDianalisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        0
      ],
      "id": "8b8a1023-72f8-4c85-b640-cba51007e0b9",
      "name": "Tulis Hasil Analisis",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WozjC732u3hVBGzJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { message: '❌ Tidak ada data untuk dikirim' } }];\n}\n\nconst top5 = items.slice(0, 5);\nconst totalData = items[0].json.totalDataDianalisis || 'N/A';\nconst tanggalAnalisis = items[0].json.tanggalAnalisis || new Date().toLocaleString('id-ID');\n\nlet message = `📊 *HASIL ANALISIS WAKTU POSTING TERBAIK*\\n`;\nmessage += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\nmessage += `🏆 *TOP 5 JAM TERBAIK:*\\n\\n`;\n\ntop5.forEach((item, index) => {\n  const data = item.json;\n  const medal = index === 0 ? '🥇' : index === 1 ? '🥈' : index === 2 ? '🥉' : `${index + 1}.`;\n  \n  message += `${medal} *JAM ${data.jam}*\\n`;\n  message += `   📈 Avg Engagement: *${data.avgEngagement}*\\n`;\n  message += `   ❤️ Avg Likes: ${data.avgLikes}\\n`;\n  message += `   💬 Avg Comments: ${data.avgComments}\\n`;\n  message += `   🔄 Avg Shares: ${data.avgShares}\\n`;\n  message += `   📱 Platform: ${data.platformTerbanyak}\\n`;\n  message += `   📊 Total Post: ${data.jumlahPost} post\\n`;\n  message += `   ${data.rekomendasi}\\n\\n`;\n});\n\nmessage += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `💡 *REKOMENDASI:*\\n`;\nmessage += `Posting pada jam *${top5[0].json.jam}* memberikan engagement tertinggi dengan rata-rata *${top5[0].json.avgEngagement}* engagement!\\n\\n`;\n\nmessage += `📅 Analisis: ${tanggalAnalisis}\\n`;\nmessage += `📝 Total data: ${totalData} post\\n\\n`;\n\nmessage += `_Gunakan insight ini untuk optimasi strategi posting Anda!_ 🚀`;\n\nreturn [{\n  json: {\n    chatId: '',\n    message: message,\n    parseMode: 'Markdown'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        0
      ],
      "id": "7630b327-b5f1-4978-aaa2-6b1baf100a32",
      "name": "Format Pesan Telegram"
    },
    {
      "parameters": {
        "chatId": "5204695906",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        0
      ],
      "id": "cf437802-31e7-46ea-9009-ad3a43ed3f95",
      "name": "Send a text message",
      "webhookId": "e7a784a6-6b42-408b-863f-7ae9d99a3f28",
      "credentials": {
        "telegramApi": {
          "id": "12BKkUXOpZvu4Nxj",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Baca Data Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data Posting": {
      "main": [
        [
          {
            "node": "Analisis Waktu Terbaik",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Waktu Terbaik": {
      "main": [
        [
          {
            "node": "Hapus Hasil Lama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hapus Hasil Lama": {
      "main": [
        [
          {
            "node": "Tulis Hasil Analisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tulis Hasil Analisis": {
      "main": [
        [
          {
            "node": "Format Pesan Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pesan Telegram": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d3c450da-6f14-4d0d-a228-efc6f3946413",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d11e6e53822f4731590018760ac96737b4769128550dea194e4168a0c7860d0"
  },
  "id": "MBluetJEgdjhY2br",
  "tags": []
}