tugas 4 Pengembangan Agen AI tanpa Koding.json
{
  "name": "tugas 4 Pengembangan Agen AI tanpa Koding",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        48
      ],
      "id": "5f4e401d-40f1-4f06-b609-4398a037bcca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1he5idmRUhjT0IrYdw_LXEflkIavdO0CU",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        48
      ],
      "id": "cd182e46-7dec-4a3c-b9ef-421307b39c8b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CjzM73dYtlUkrot2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        448,
        32
      ],
      "id": "2cfbe004-d51b-43dd-9dd7-6fc44e1e889b",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "1BD4nsOIvFPjEO4C",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        240
      ],
      "id": "19119453-cd43-4a9d-89ce-2790ebd9bc6b",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "t5zi6YverPgcbBNq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        624,
        240
      ],
      "id": "a7a1200f-1508-4627-8f2c-bd886a11e179",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "availableInChat": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        48,
        448
      ],
      "id": "170f3929-ca99-4deb-83f5-9a5c7b8a175d",
      "name": "When chat message received",
      "webhookId": "876c2111-0869-4a23-bfe0-3330b3135b78"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Anda adalah asisten AI yang membantu mahasiswa dalam memahami penulisan ilmiah skripsi.\n\nJawablah pertanyaan hanya berdasarkan data dari dokumen yang tersedia di database Supabase.\n\nGunakan bahasa Indonesia yang jelas dan mudah dipahami.\n\nJika tidak menemukan jawaban, katakan:\n\"Maaf, saya tidak menemukan informasi tersebut dalam dokumen.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        448
      ],
      "id": "c1e854bd-354a-4d94-8bf2-ee9345b53f27",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        128,
        656
      ],
      "id": "ae30ba49-e1cf-4f31-bb7d-44ec04bf2380",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lMDadw4gQ0Ejvr7m",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Mencari informasi dari dokumen skripsi di database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        464
      ],
      "id": "5f0065b7-8776-4e01-8dc6-1963ef7c781b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "1BD4nsOIvFPjEO4C",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "chat_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        656
      ],
      "id": "4e285d5c-9619-4a7e-bd89-b5ff2bb6654e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "317Bfe2xWQ2yTObM",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fac44a79-9532-48e9-83cd-8f8500a06caf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d11e6e53822f4731590018760ac96737b4769128550dea194e4168a0c7860d0"
  },
  "id": "HT6HpU5fWoGYkmdV",
  "tags": []
}